In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt


# ------------------------------------------------------------
# Creating SERIES
# ------------------------------------------------------------

s1 = pd.Series([1, 2.56, "Petra", np.nan, True], name="c1")

s2 = pd.Series([1, 2.56, "Petra", np.nan, True],
               index = ["aa", "bb", "cc", "dd", "ee"])

s3 = pd.Series({"day1": 420, "day2": 380, "day3": 390})

s4 = pd.Series({"day1": 420, "day2": 380, "day3": 390},
               index = ["day1", "day2"])

print('---------- S1 ----------')
print(s1)

---------- S1 ----------
0        1
1     2.56
2    Petra
3      NaN
4     True
Name: c1, dtype: object

In [2]:
print('\n---------- S2 ----------')
print(s2)

---------- S2 ----------
aa        1
bb     2.56
cc    Petra
dd      NaN
ee     True
dtype: object

In [3]:
print('\n---------- S3 ----------')
print(s3)

---------- S3 ----------
day1    420
day2    380
day3    390
dtype: int64

In [4]:
print('\n---------- S4 ----------')
print(s4)
print('\n--------------------------')

---------- S4 ----------
day1    420
day2    380
dtype: int64

--------------------------

In [5]:
# ------------------------------------------------------------
# SERIES Functions
# ------------------------------------------------------------

# Hitung jumlah dari non-NaN values
print('Count =', s1.count())

# Hitung jumlah dari NaN values
print('NaN =', s1.isna().sum())

# Cetak frekuensi dari tiap non-NaN value
print('--------------------------')
print(s1.value_counts())

# Konversi series ke list
print('--------------------------')
print(s1.values.tolist())

# Hapus baris dengen index tertentu
s1_fix = s1.drop(index=[2,3])
s1_fix = s1.truncate(before=1, after=3)
print(s1_fix)
print('--------------------------')

Count = 4
NaN = 1
--------------------------
c1
1        2
2.56     1
Petra    1
Name: count, dtype: int64
--------------------------
[1, 2.56, 'Petra', nan, True]
1     2.56
2    Petra
3      NaN
Name: c1, dtype: object
--------------------------

In [6]:
# ------------------------------------------------------------
# Creating a DATAFRAME
# ------------------------------------------------------------

data = {
    'c1' : ["qwe","asd","zxc"],
    'c2' : [123,456,789],
    'c3' : [False, True,True],
    'c4' : [4,np.nan,6],
}
df_data = pd.DataFrame(data, index=['a','b','c'])
print(df_data)

print('--------------------------')
print(df_data["c2"])
print('--------------------------')
print(df_data.iloc[0])
print('--------------------------')
df_data.dropna(inplace=True)
print(df_data)

# Mengecek apakah tiap baris memenuhi kondisi ttt.
print('--------------------------')
print(df_data['c2'] > 200)

# Simpan baris-baris di atas ke dataframe baru
print('--------------------------')
df_data2 = df_data[ df_data['c2'] > 200]
print(df_data2)

    c1   c2     c3   c4
a  qwe  123  False  4.0
b  asd  456   True  NaN
c  zxc  789   True  6.0
--------------------------
a    123
b    456
c    789
Name: c2, dtype: int64
--------------------------
c1      qwe
c2      123
c3    False
c4      4.0
Name: a, dtype: object
--------------------------
    c1   c2     c3   c4
a  qwe  123  False  4.0
c  zxc  789   True  6.0
--------------------------
a    False
c     True
Name: c2, dtype: bool
--------------------------
    c1   c2    c3   c4
c  zxc  789  True  6.0

In [7]:
print('--------------------------')
cars = [["BMW", 3],["Volvo", 7],["Ford", 2]]
df_cars = pd.DataFrame(cars,
                 index=["a",200,4.56],
                 columns=["abc","def"])
print(df_cars)

--------------------------
        abc  def
a       BMW    3
200   Volvo    7
4.56   Ford    2